/* For mobile phone */

body {
    background-color: red;
}

#medium, #large {
        display:none;
    }
    
#medium>h2 {
    font-size: 32px;
}

#medium>p {
    font-size: 24px;
}

#large>h2 {
    font-size: 40px;
}

#large>p {
    font-size: 32px 
}


@media screen and (min-width:410px) and (max-width:767px) {
    /* For tablets */
    body {
        background-color: green;
    }

    #small, #large {
        display:none;
    }

    #medium {
        display:block;
    }
}

@media screen and (min-width:768px) {
    /*For desktop*/
    body {
        background-color: blue;
    }
    
    #small, #medium {
        display:none;
    }

    #large {
        display:block;
    }
}