/* For mobile phone */

body {
    background-color: red;
}

.grid {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:400px 400px 400px;
    grid-template-areas:
    "small"
    "medium"
    "large";
}

/* #medium, #large {
        display:none;
    } */

#small {
    grid-area:small;
} 

#medium {
    grid-area:medium;
}

#large {
    grid-area:large;
}

#medium>h2 {
    font-size: 32px;
}

#medium>p {
    font-size: 24px;
}

#large>h2 {
    font-size: 40px;
}

#large>p {
    font-size: 32px 
}


@media screen and (min-width:410px) and (max-width:767px) {
    /* For tablets */
    body {
        background-color: green;
    }

    .grid {
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas: 
            "small small medium"
            "large large large";
    }

    /* #small, #large {
        display:none;
    }

    #medium {
        display:block;
    } */

    #small {
        width:66%;
    }
}

@media screen and (min-width:768px) {
    /*For desktop*/
    body {
        background-color: blue;
    }

    .grid {
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas: 
            "small medium large";
    }
    
    /* #small, #medium {
        display:none;
    }

    #large {
        display:block;
    } */
}